Данные сервиса бронирования 

    Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем;<br>
    Проверим размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.<br> 
    Приведем названия колонок к нижнему регистру и заменим пробелы на знак нижнего подчеркивания.<br>
    Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.<br>
    На сколько ночей в среднем бронируют отели разных типов?<br>
    Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type).<br>
    Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?<br>
    Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016?<br>
    Изменился ли самый популярный месяц в 2017?<br>
    Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов<br>
    Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?<br>
    Создадим колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?<br>
    Создажим переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False.<br>
    Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate).<br>
    Укажем, среди какой группы показатель выше.

 
Описание данных

Имеются следующие переменные:

    Hotel – тип отеля (City Hotel или Resort Hotel)  
    Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
    Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
    Arrival full date – полная дата прибытия
    Arrival date year – год прибытия  
    Arrival date month – месяц прибытия  
    Arrival date week number – номер недели прибытия
    Arrival date day of month – день прибытия
    Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
    Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
    Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
    Adults – число взрослых
    Children – число детей
    Babies – число младенцев 
    Meal – выбранный тип питания
    Country – страна происхождения клиента
    Reserved room type – тип зарезервированного номера
    Assigned room type – тип полученного номера (может отличаться от забронированного)
    Customer type – тип бронирования
    Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
    Reservation status date – дата обновления статуса

In [1]:
import pandas as pd 
bookings = pd.read_csv('bookings.csv', sep = ';')

In [2]:
#Затем запишите первые 7 строк в переменную bookings_head
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [3]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [4]:
# отформатируем назмание столбцов
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')
bookings.head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

Пользователи из каких стран совершили наибольшее число успешных бронирований?<br>
Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).<br> В качестве ответа выберите страны, входящие в топ-5

In [5]:
bookings.loc[bookings.is_canceled == 0].country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [6]:
bookings.query('is_canceled == 0').country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [7]:
bookings.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [8]:
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

In [9]:
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

проанализируем даты запланированного прибытия (arrival_date_year).
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [10]:
# в агрегации использую моду месяца
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

проверим, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
для этого сначала применим метод groupby, после чего выберу нужную колонку для дальнейших действий

In [11]:
# передам в группу словарь с нужными колонками и посчитаю для каждого сумму отмен (1 - отмена)
#метод nlargest(1) выведет топ 1 для каждой группы
bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum()\
    .groupby('arrival_date_year' ).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

In [13]:
# средние значения по бронированию для возрастных групп
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

создам колонку total_kids, объединив столбцы children и babies.
Для отелей какого типа среднее значение переменной будет наибольшим?

    City hotel – отель находится в городе
    Resort hotel – отель курортный

In [15]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе.<br>
Иными словами, посчитать метрику **Churn Rate**.(отношение количества ушедших пользователей к общему количеству пользователей за период времени)

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование.
Посмотрим, как эта метрика связана с наличием детей у клиентов!

Создим колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False.<br>
Далее проверим, среди какой группы пользователей показатель оттока выше.

In [16]:
# True, если больше или равно 1, False если меньше
bookings['has_kids'] = bookings['total_kids'] >= 1

# группируемся по нужному полю, для каждой группы берем колонку is_canceled 
# используем value_counts с параметром normalize=True, чтобы показали долю в %
rates = bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

# округляем и показываем результат
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64